= form_for @proveedor do |f|
  = f.error_messages
  %ol
    %li
      = f.label :codigo_proveedor
      = f.text_field :codigo_proveedor
    %li
      = f.label :nombre
      = f.text_field :nombre
    %li
      = f.label :cif
      = f.text_field :cif
    %li
      = f.label :telefono
      = f.text_field :telefono
    %li
      = f.label :direccion
      = f.text_field :direccion
    %li
      = f.label :contacto
      = f.text_field :contacto
  %p
    = f.submit
