= form_for @proveedor do |f|
  = f.error_messages
  %p
    = f.label :codigo_proveedor
    %br
    = f.text_field :codigo_proveedor
  %p
    = f.label :telefono
    %br
    = f.text_field :telefono
  %p
    = f.label :direccion
    %br
    = f.text_field :direccion
  %p
    = f.label :contacto
    %br
    = f.text_field :contacto
  %p
    = f.submit
