- title "Proveedores"

%table
  %tr
    %th Codigo proveedor
    %th Nombre
    %th Cif
    %th Telefono
    %th Direccion
    %th Contacto
  - for proveedor in @proveedores
    %tr
      %td= link_to proveedor.codigo_proveedor, proveedor
      %td= proveedor.nombre
      %td= proveedor.cif
      %td= proveedor.telefono
      %td= proveedor.direccion
      %td= proveedor.contacto
      %td.enlacebotton= link_to 'Modifica', edit_proveedor_path(proveedor)
#enlacebotton
  %p= link_to "Nuevo Proveedor", new_proveedor_path
