- title "Proveedor"

%p
  %strong.vista Codigo Proveedor:
  = @proveedor.codigo_proveedor
%p
  %strong.vista Nombre:
  = @proveedor.nombre
%p
  %strong.vista Cif:
  = @proveedor.cif
%p
  %strong.vista Telefono:
  = @proveedor.telefono
%p
  %strong.vista Direccion:
  = @proveedor.direccion
%p
  %strong.vista Contacto:
  = @proveedor.contacto

.clear
#enlacebotton
  = link_to 'Elimina', @proveedor, :confirm => '¿Estas seguro? Esta acción no se podra deshacer.', :method => :delete
  = link_to "Proveedores", proveedores_path
