- title "Proveedor"

%p
  %strong Codigo Proveedor:
  = @proveedor.codigo_proveedor
%p
  %strong Telefono:
  = @proveedor.telefono
%p
  %strong Direccion:
  = @proveedor.direccion
%p
  %strong Contacto:
  = @proveedor.contacto

%p
  = link_to "Edit", edit_proveedor_path(@proveedor)
  |
  = link_to "Destroy", @proveedor, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proveedores_path
