- title "Composiciones"

%table
  %tr
    %th Prueba
    %th Producto
    %th Porcentaje
    %th Comentario
  - for composicion in @composiciones
    %tr
      %td= composicion.prueba_id
      %td= composicion.producto_id
      %td= composicion.porcentaje
      %td= composicion.comentario
      %td= link_to 'Show', composicion
      %td= link_to 'Edit', edit_composicion_path(composicion)
      %td= link_to 'Destroy', composicion, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Composicion", new_composicion_path
