- title "Composicion"

%p
  %strong Prueba:
  = @composicion.prueba_id
%p
  %strong Producto:
  = @composicion.producto_id
%p
  %strong Porcentaje:
  = @composicion.porcentaje
%p
  %strong Comentario:
  = @composicion.comentario

%p
  = link_to "Edit", edit_composicion_path(@composicion)
  |
  = link_to "Destroy", @composicion, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", composiciones_path
