= form_for @producto do |f|
  = f.error_messages
  %p
    = f.label :proveedor_id
    %br
    = select("producto", "proveedor_id", Proveedor.all.collect {|p| [p.codigo_proveedor, p.id]}, {:prompt => 'proveedores'})
  %p
    = f.label :referencia
    %br
    = f.text_field :referencia
  %p
    = f.label :caracteristica
    %br
    = f.text_field :caracteristica
  %p
    = f.submit
