= form_for @producto do |f|
  = f.error_messages
  %ol
    %li
      = f.label :proveedor_id
      = select("producto", "proveedor_id", Proveedor.all.collect {|p| [p.nombre, p.id]}, {:prompt => '--proveedores--'})
    %li
      = f.label :referencia
      = f.text_field :referencia
    %li
      = f.label :caracteristica
      = f.text_field :caracteristica
    %li
      = f.submit
