- title "Productos"

%table
  %tr
    %th Proveedor
    %th Referencia
    %th Caracteristica
  - for producto in @productos
    %tr
      %td= producto.proveedor.codigo_proveedor
      %td= producto.referencia
      %td= producto.caracteristica
      %td= link_to 'Show', producto
      %td= link_to 'Edit', edit_producto_path(producto)
      %td= link_to 'Destroy', producto, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Producto", new_producto_path
