- title "Productos"

%table
  %tr
    %th Proveedor
    %th Referencia
    %th Caracteristica
  - for producto in @productos
    %tr
      %td= producto.proveedor.nombre
      %td= link_to producto.referencia, producto
      %td= producto.caracteristica
      %td.enlacebotton= link_to 'Modificar', edit_producto_path(producto)
#enlacebotton
  %p= link_to "Nuevo producto", new_producto_path
