- title "Producto #{@producto.referencia}"

%p
  %strong Proveedor:
  = @producto.proveedor.nombre
%p
  %strong Referencia:
  = @producto.referencia
%p
  %strong Caracteristica:
  = @producto.caracteristica

#enlacebotton
  %p
    = link_to "Eliminar", @producto, :confirm => '¿Estas seguro? Esta acción no se podra deshacer.', :method => :delete
    = link_to "Productos", productos_path
