- title "Mediciones"
#enlacebotton
  %table
    %tr
      %th Horno
      %th Fecha
      %th Operario
      %th Velocidad horno
    - for medicion in @mediciones
      %tr
        %td= medicion.horno_id
        %td= medicion.fecha
        %td= medicion.operario
        %td= medicion.velocidad_horno
        %td= link_to 'Vista medici贸n', [@horno, medicion]
        %td= link_to 'Modificaci贸n', edit_horno_medicion_path(@horno, medicion)
        %td= link_to 'Eliminar', [@horno, medicion], :confirm => 'Estas seguro, esta acci贸n no se podra deshacer?', :method => :delete

  %p= link_to "Nueva medici贸n", new_horno_medicion_path(@horno)
