- title "Mediciones"
#enlacebotton
  %table
    %tr
      %th Horno
      %th Fecha
      %th Operario
      %th Velocidad horno
    - for medicion in @mediciones
      %tr
        %td= medicion.horno.codigo
        %td= l medicion.fecha, :format => :long
        %td= medicion.operario
        %td= medicion.velocidad_horno
        %td= link_to 'Vista medición', [@horno, medicion]

  %p= link_to "Nueva medición", new_horno_medicion_path(@horno)
