- title "Medici贸n"
#content_left
  %p
    %strong Horno:
    = @medicion.horno_id
  %p
    %strong Fecha:
    = l @medicion.fecha, :format => :long
  %p
    %strong Operario:
    = @medicion.operario
  %p
    %strong Velocidad Horno:
    = @medicion.velocidad_horno
#content_right
  #valores
    %table
      %thead
        %tr
          %th Quemador
          %th temperatura
          %th presi贸n
      %tbody
        -for valor in @medicion.valores
          %tr
            %td= valor.quemador.nombre
            %td= valor.temperatura
            %td= valor.presion
  #enlacebotton
    = link_to "Modificaci贸n", edit_horno_medicion_path(@horno, @medicion)
    = link_to 'Eliminar', [@horno, @medicion], :confirm => 'Estas seguro, esta acci贸n no se podra deshacer?', :method => :delete
    = link_to "vista general", horno_mediciones_path(@horno)
.clear
