= f.label :prueba_id
= f.text_field :prueba_id
%br
= f.label :producto_id
= f.text_field :producto_id
%br
= f.label :porcentaje
= f.text_field :porcentaje
%br
= f.label :comentario
= f.text_field :comentario
