= nested_form_for [@pasta, @prueba] do |f|
  = f.error_messages
  %p

    = "Pasta #{@pasta.id}"
  %p
    = f.label :fecha
    %br
    = f.datetime_select :fecha
  %p
    = f.label :partida
    %br
    = f.text_field :partida
  #enlacebotton
    %table.nh
      %tr
        %td Producto
        %td Porcentaje
        %td Comentario
    - f.fields_for :composiciones do |composicion_fields|
      =render 'composicion_fields', :composicion_fields => composicion_fields
    = f.link_to_add "Añade un producto", :composiciones
  %p
    = f.submit
