= nested_form_for [@pasta, @prueba] do |f|
  = f.error_messages
  %p

    = "Pasta #{@pasta.id}"
  %p
    = f.label :fecha
    %br
    = f.datetime_select :fecha
  %p
    = f.label :partida
    %br
    = f.text_field :partida
  #enlacebotton
    - f.fields_for :composiciones do |builder|
      =render 'composicion_fields', :f => builder
    = f.link_to_add "Añade un producto", :composiciones
  %p
    = f.submit
