- title "Pruebas"
%table
  %tr
    %th Pasta
    %th Fecha
    %th Partida
  - for prueba in @pruebas
    %tr{:class => cycle("","odd")}
      %td= prueba.pasta.codigo
      %td= link_to (l prueba.fecha, :format => :long), [@pasta, prueba]
      %td= prueba.partida
      %td.enlacebotton= link_to 'Modificar', edit_pasta_prueba_path(@pasta,     prueba)

#enlacebotton
  %p= link_to "Nueva Prueba", new_pasta_prueba_path(@pasta)
