- title "Pruebas"
#enlacebotton
  %table
    %tr
      %th Pasta
      %th Fecha
      %th Partida
    - for prueba in @pruebas
      %tr{:class => cycle("","odd")}
        %td= prueba.pasta_id
        %td= l prueba.fecha, :format => :long
        %td= prueba.partida
        %td= link_to 'Vista prueba', [@pasta, prueba]
        %td= link_to 'Modificar', edit_pasta_prueba_path(@pasta,     prueba)
        %td= link_to 'Eliminar', [@pasta, prueba], :confirm => 'Are you sure?', :method => :delete

  %p= link_to "Nueva Prueba", new_pasta_prueba_path(@pasta)
