- title "Pruebas"
%table
  %tr
    %th Pasta
    %th Fecha
    %th Horno
    %th Partida
  - for prueba in @pruebas
    %tr{:class => cycle("even","odd")}
      %td= prueba.pasta.codigo
      %td= link_to (l prueba.fecha, :format => :long), prueba_path(prueba)
      %td= prueba.horno.try(:codigo)
      %td= prueba.partida
      %td.enlacebotton= link_to 'Modificar', edit_prueba_path(prueba)

#enlacebotton
  %p= link_to "Nueva Prueba", new_prueba_path
