- title "Pasta"

%p
  %strong Codigo:
  = @pasta.codigo
%p
  %strong Tipo Tierra:
  = @pasta.tipo_tierra
%p
  %strong Descripcion:
  = @pasta.descripcion
%table
  %tr
    %th Fecha
    %th Horno
    %th Partida
  - for prueba in @pruebas
    %tr{:class => cycle("even","odd")}
      %td= link_to (l prueba.fecha, :format => :long), [@pasta, prueba]
      %td= prueba.horno.try(:codigo)
      %td= prueba.partida

