- title "Prueba #{@prueba.pasta.codigo}"
#content_left
  %p
    %strong Pasta:
    = @prueba.pasta_id
  %p
    %strong Fecha:
    = l @prueba.fecha, :format => :long
  %p
    %strong Partida:
    = @prueba.partida
  %p
    %strong Horno:
    = @prueba.horno.try(:codigo)
#content_right
  %table
    %thead
      %tr
        %th Producto
        %th Porcentaje
        %th comentario
    %tbody
      -for composicion in @prueba.composiciones
        %tr
          %td= composicion.producto.referencia
          %td= composicion.porcentaje
          %td= composicion.comentario
  #enlacebotton
    - if @pasta.nil?
      = link_to "Eliminar", @prueba, :confirm => '¿Estas seguro? Esta acción no se podra deshacer.', :method => :delete
      = link_to "Pruebas", pruebas_path
    - else
      = link_to "Pruebas", pasta_pruebas_path(@pasta)
#right
  %table
    %thead
      %tr
        %th{:colspan => 3}
          Control
    %tbody
      %td
        %strong Valor_x:
        = @prueba.control.try(:valor_x)
      %td
        %strong Valor_y:
        = @prueba.control.try(:valor_y)
      %td
        %strong Valor_z:
        = @prueba.control.try(:valor_z)
.clear

