- title "Prueba #{@pasta.codigo}"
#content_left
  %p
    %strong Pasta:
    = @prueba.pasta_id
  %p
    %strong Fecha:
    = l @prueba.fecha, :format => :long
  %p
    %strong Partida:
    = @prueba.partida
#content_right
  %table
    %thead
      %tr
        %th Producto
        %th Porcentaje
        %th comentario
    %tbody
      -for composicion in @prueba.composiciones
        %tr
          %td= composicion.producto.referencia
          %td= composicion.porcentaje
          %td= composicion.comentario
  #enlacebotton
    = link_to "Eliminar",[@pasta, @prueba], :confirm => '¿Estas seguro? Esta acción no se podra deshacer.', :method => :delete
    = link_to "Pruebas", pasta_pruebas_path(@pasta)
.clear

