- title "Pasta #{@pasta.codigo}"
#estadistica_left
  -for prueba in @pruebas
    %table.estadistica
      %thead
        %tr
          %th Fecha
          %th Nº Partida
      %tbody
        %tr
          %td= link_to (l prueba.fecha, :format => :long), prueba_path(prueba)
          %td= prueba.partida
    %table.estadistica
      %thead
        %tr
          %th Producto
          %th Porcentaje
          %th comentario
      -for composicion in prueba.composiciones
        %tbody
          %tr
            %td= composicion.producto.referencia
            %td= composicion.porcentaje
            %td= composicion.comentario
    %table.estadistica
      %thead
        %tr
          %th Valor x
          %th Valor y
          %th Valor z
      %tbody
        %tr
          %td= prueba.control.try(:valor_x)
          %td= prueba.control.try(:valor_y)
          %td= prueba.control.try(:valor_z)
    .clear
    %table
      %thead
        %tr
          -prueba.horno.quemadores.each do |quemador|
            %th= quemador.nombre
          -# prueba.horno.mediciones.where("date(fecha) = :fecha", :fecha => prueba.fecha.to_date).each do |medicion|
          - prueba.horno.mediciones.where(:fecha => prueba.fecha.to_date..(prueba.fecha.to_date + 1.day).to_date ).each do |medicion|
            %tr
            - medicion.valores.each do |valor|
              %td
                = valor.temperatura
            %tr
            - medicion.valores.each do |valor|
              %td
                = valor.presion
#paginador
  = paginate @pruebas
