- title "Pastas"
#enlacebotton
  %table
    %tr
      %th Codigo
      %th Tipo tierra
      %th Descripcion
    - for pasta in @pastas
      %tr
        %td= pasta.codigo
        %td= pasta.tipo_tierra
        %td= pasta.descripcion
        %td= link_to 'Vista', pasta
        %td= link_to 'Nueva prueba', new_pasta_prueba_path(pasta)
        -#%td= link_to 'Modificar', edit_pasta_path(pasta)
        -#%td= link_to 'Eliminar', pasta, :confirm => '¿Estas seguro? esta acción no se puede deshacer', :method => :delete

  %p= link_to "Nueva Pasta", new_pasta_path
