- title "Pasta"

%p
  %strong Codigo:
  = @pasta.codigo
%p
  %strong Tipo Tierra:
  = @pasta.tipo_tierra
%p
  %strong Descripcion:
  = @pasta.descripcion

#enlacebotton
  = link_to "Modificar", edit_pasta_path(@pasta)
  = link_to "Eliminar", @pasta, :confirm => '¿Estas seguro? Esta acción no se puede deshacer', :method => :delete
  = link_to "Vista general", pastas_path
