- title "Hornos"
%table
  %tr
    %th Codigo
    %th Longitud
    %th Descripcion
  - for horno in @hornos
    %tr
      %td= link_to horno.codigo, horno
      %td= horno.longitud
      %td= horno.descripcion
      %td.enlacebotton= link_to 'Modificación', edit_horno_path(horno)

#enlacebotton
  %p= link_to "Nuevo horno", new_horno_path
