- title "Horno #{@horno.codigo}"

%p
  %strong Codigo:
  = @horno.codigo
%p
  %strong Longitud:
  = @horno.longitud
%p
  %strong Descripcion:
  = @horno.descripcion

#quemador
  %table
    %thead
      %tr
        %th Quemadores
        %th Cantidad de mecheros
        %th Posición
    %tbody
      -for quemador in @horno.quemadores
        %tr
          %td= quemador.nombre
          %td= quemador.cantidad_mecheros
          %td= quemador.posicion
#enlacebotton
  = link_to "Eliminar", @horno, :confirm => '¿Estas seguro? Esta acción no se podra deshacer', :method => :delete
  = link_to "Vista hornos", hornos_path
